numpy
azure-storage-blob
azure-identity
quart
quart-cors
python-dotenv
hypercorn
Pillow
cryptography
pyyaml
pydantic
python-magic
nachet-datastore @git+https://github.com/ai-cfia/ailab-datastore.git@0b76149def3a83220703689d3a10439809773399
