numpy
azure-storage-blob
azure-identity
quart
quart-cors
python-dotenv
hypercorn
Pillow
cryptography
pyyaml
pydantic
python-magic
nachet-datastore @git+https://github.com/ai-cfia/nachet-datastore.git@fe0c6379415cd9d43a3eb2602d82d1907f0fd04d #TODO : change the branch to main
