name: Docker build and push to ghcr.io/ai-cfia and lint test

on:
  pull_request:
    types:
      - opened
      - closed
      - synchronize

jobs:
  lint-test:
    uses:
      ai-cfia/github-workflows/.github/workflows/workflow-lint-test-python.yml@281-update-python-lint-workflow-to-fetch-dynamically-values-from-github-secrets
    secrets: inherit

  deploy:
    uses:
      ai-cfia/github-workflows/.github/workflows/workflow-build-push-container-github-registry.yml@main
    with:
      container-name: ${{ github.event.repository.name }}
      tag: ${{ github.sha }}
      registry: ghcr.io/ai-cfia
    secrets: inherit

  repo-standard:
    uses:
      ai-cfia/github-workflows/.github/workflows/workflow-repo-standards-validation.yml@main
    secrets: inherit

  markdown-check:
    uses:
      ai-cfia/github-workflows/.github/workflows/workflow-markdown-check.yml@main

  yaml-check:
    uses:
      ai-cfia/github-workflows/.github/workflows/workflow-yaml-check.yml@main
